---
import Card from '@/components/Card.astro';
import Heading from '@/components/Heading.astro';
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { sortPostsByDate } from '@/utils/data.util';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
allPosts.sort(sortPostsByDate);
---

<Base head={{ title: 'Publicações' }}>
	<Section><Heading title="Todas as publicações" /></Section>
	<Section>
		<div class="grid auto-rows-fr grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
			{allPosts.map((post) => <Card post={post} />)}
		</div>
	</Section>
</Base>
