---
import { formatDate } from '@/utils/data.util';
import { CollectionEntry } from 'astro:content';
import Tags from './Tags.astro';
interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<a href={`/posts/${post.slug}`}>
	<div
		class="h-full rounded-2xl bg-stone-200/50 from-orange-900 via-amber-700 to-white p-[1px] text-sm shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)] hover:bg-gradient-to-r dark:bg-gray-900"
	>
		<div
			class="flex h-full w-full
		flex-col
    rounded-[1rem]
		bg-stone-300
		p-4
		text-gray-900
    opacity-90
    dark:bg-stone-800
		dark:text-white"
		>
			<div class="flex flex-auto flex-col gap-4">
				<div class="flex justify-between text-xs">
					<p>{formatDate(post.data.pubDate)}</p>
				</div>

				<p class="text-balance text-lg font-bold">{post.data.title}</p>

				<Tags tags={post.data.tags} />
				<p class="mt-auto">
					{post.data.excerpt ?? post.data.description}
				</p>
			</div>
			<p class="pt-4 underline">leia mais →</p>
		</div>
	</div>
</a>
