---
import { UtterancesComments } from '@/components/UtterancesComments';

interface Props {
	slug: string;
}

const { slug } = Astro.props;
---

<div class="min-h-64">
	<UtterancesComments slug={slug} client:visible />
</div>

<style is:global>
	iframe:focus-visible {
		outline: none !important;
	}
</style>
