---
import { Icon } from 'astro-icon/components';
import Section from './Section.astro';
import Social from './Social.astro';

const site = Astro.site;
---

<Section>
	<br />
	<p class="pb-8 pt-6 text-4xl font-bold">Olá, seja bem-vindo 🚀</p>
	<div class="flex">
		<Social href="https://github.com/Alan-Gomes" label="Perfil no GitHub">
			<Icon name="lucide:github" />
		</Social>
		<Social href="https://www.linkedin.com/in/alangomes11" label="LinkedIn">
			<Icon name="lucide:linkedin" />
		</Social>
		<Social href="https://github.com/Alan-Gomes/blog" label="Repositório">
			<Icon name="lucide:code" />
		</Social>
		<Social href={`${site}rss.xml`} label="Feed RSS">
			<Icon name="lucide:rss" />
		</Social>
	</div>
</Section>
