---
import Section from './Section.astro';
---

<Section>
	<div class="flex justify-between">
		<div class="text-3xl font-bold">
			<a href="/" class="flex items-center gap-3">
				<span class="mr-2">💻</span>
				<span class="text-gray-500">{'<'}</span>
				<span class="flex">
					<span>Alan</span>
					<span class="text-orange-600">'s</span>
				</span>
				<span>notes</span>
				<span class="text-2xl text-gray-500">{'/>'}</span>
			</a>
		</div>
		<div class="flex items-center">
			<nav>
				<ul class="hidden flex-row sm:flex">
					<li><a href="/tags" class="mr-3 hover:text-orange-600">TAGS</a></li>
					<li><a href="/" class="hover:text-orange-600">BLOG</a></li>
				</ul>
			</nav>
		</div>
	</div>
</Section>
